AdvancedApplications/Model_Expose_AM_as_SOAP/TestCallSOAPWSAppliction/CallSecureWS/src/model/eo/common/AppModuleService.wsdl

<?xml version='1.0' encoding='UTF-8'?>
<wsdl:definitions name="AppModuleService" targetNamespace="/model/eo/common/" xmlns:tns="/model/eo/common/" xmlns:types="/model/eo/common/types/" xmlns:errors="http://xmlns.oracle.com/adf/svc/errors/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="fast_infoset_service_policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy">
    <wsOptfiser:OptimizedFastInfosetSerialization enabled="true" xmlns:wsOptfiser="http://java.sun.com/xml/ns/wsit/2006/09/policy/fastinfoset/service"/>
  </wsp:Policy>
  <wsp:Policy xmlns="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" wsu:Id="wss_username_token_service_policy" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <sp:SupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
      <wsp:Policy>
        <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
          <wsp:Policy>
            <sp:WssUsernameToken10/>
          </wsp:Policy>
        </sp:UsernameToken>
      </wsp:Policy>
    </sp:SupportingTokens>
  </wsp:Policy>
  <wsdl:import namespace="http://xmlns.oracle.com/adf/svc/errors/" location="ServiceException.wsdl"/>
  <wsdl:types>
    <schema xmlns="http://www.w3.org/2001/XMLSchema">
      <import namespace="/model/eo/common/types/" schemaLocation="AppModuleService.xsd"/>
    </schema>
  </wsdl:types>
  <wsdl:message name="AppModuleService_getDepartmentsView1">
    <wsdl:part name="parameters" element="types:getDepartmentsView1"/>
  </wsdl:message>
  <wsdl:message name="AppModuleService_getDepartmentsView1Response">
    <wsdl:part name="parameters" element="types:getDepartmentsView1Response"/>
  </wsdl:message>
  <wsdl:message name="AppModuleService_createDepartmentsView1">
    <wsdl:part name="parameters" element="types:createDepartmentsView1"/>
  </wsdl:message>
  <wsdl:message name="AppModuleService_createDepartmentsView1Response">
    <wsdl:part name="parameters" element="types:createDepartmentsView1Response"/>
  </wsdl:message>
  <wsdl:message name="AppModuleService_deleteDepartmentsView1">
    <wsdl:part name="parameters" element="types:deleteDepartmentsView1"/>
  </wsdl:message>
  <wsdl:message name="AppModuleService_deleteDepartmentsView1Response">
    <wsdl:part name="parameters" element="types:deleteDepartmentsView1Response"/>
  </wsdl:message>
  <wsdl:message name="AppModuleService_findDepartmentsView1">
    <wsdl:part name="parameters" element="types:findDepartmentsView1"/>
  </wsdl:message>
  <wsdl:message name="AppModuleService_findDepartmentsView1Response">
    <wsdl:part name="parameters" element="types:findDepartmentsView1Response"/>
  </wsdl:message>
  <wsdl:message name="AppModuleService_getCustomDeptName">
    <wsdl:part name="parameters" element="types:getCustomDeptName"/>
  </wsdl:message>
  <wsdl:message name="AppModuleService_getCustomDeptNameResponse">
    <wsdl:part name="parameters" element="types:getCustomDeptNameResponse"/>
  </wsdl:message>
  <wsdl:portType name="AppModuleService">
    <wsdl:documentation>
      <ViewInstance xmlns="http://xmlns.oracle.com/adf/svc/metadata/" Name="DepartmentsView1" xmlns:ns0="/model/vo/common/" SDOName="ns0:DepartmentsViewSDO" CreateOpName="createDepartmentsView1" DeleteOpName="deleteDepartmentsView1" GetOpName="getDepartmentsView1" FindOpName="findDepartmentsView1"/>
    </wsdl:documentation>
    <wsdl:operation name="getDepartmentsView1">
      <wsdl:input message="tns:AppModuleService_getDepartmentsView1"/>
      <wsdl:output message="tns:AppModuleService_getDepartmentsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="createDepartmentsView1">
      <wsdl:input message="tns:AppModuleService_createDepartmentsView1"/>
      <wsdl:output message="tns:AppModuleService_createDepartmentsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartmentsView1">
      <wsdl:input message="tns:AppModuleService_deleteDepartmentsView1"/>
      <wsdl:output message="tns:AppModuleService_deleteDepartmentsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="findDepartmentsView1">
      <wsdl:input message="tns:AppModuleService_findDepartmentsView1"/>
      <wsdl:output message="tns:AppModuleService_findDepartmentsView1Response"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
    <wsdl:operation name="getCustomDeptName">
      <wsdl:input message="tns:AppModuleService_getCustomDeptName"/>
      <wsdl:output message="tns:AppModuleService_getCustomDeptNameResponse"/>
      <wsdl:fault name="ServiceException" message="errors:ServiceException"/>
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="AppModuleServiceSoapHttp" type="tns:AppModuleService">
    <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#wss_username_token_service_policy" wsdl:required="false"/>
    <wsp:PolicyReference xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" URI="#fast_infoset_service_policy" wsdl:required="false"/>
    <wsdl:operation name="getDepartmentsView1">
      <soap:operation soapAction="/model/eo/common/getDepartmentsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="createDepartmentsView1">
      <soap:operation soapAction="/model/eo/common/createDepartmentsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="deleteDepartmentsView1">
      <soap:operation soapAction="/model/eo/common/deleteDepartmentsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="findDepartmentsView1">
      <soap:operation soapAction="/model/eo/common/findDepartmentsView1"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="getCustomDeptName">
      <soap:operation soapAction="/model/eo/common/getCustomDeptName"/>
      <wsdl:input>
        <soap:body use="literal"/>
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal"/>
      </wsdl:output>
      <wsdl:fault name="ServiceException">
        <soap:fault name="ServiceException" use="literal"/>
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AppModuleService">
    <wsdl:port name="AppModuleServiceSoapHttpPort" binding="tns:AppModuleServiceSoapHttp">
      <soap:address location="http://127.0.0.1:7101/ExposeAMAsSOAPApplication-Model-context-root/AppModuleService"/>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>